// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
  background: $white;
}

/* COLORS
--------------------------------------------------*/

a {
  color: $accent-shade;
}

.bg-inverse {
  background: $primary-shade !important;
}

.bg-secondary, header .navbar {
  background-color: $gray-100 !important;
}

.site-footer {
  background: $accent-shade !important;
}

.menu--main li a {
  color: $primary-shade;
}

.menu--account li a {
  color: $primary-shade;
}

.site-name-slogan a {
  text-decoration: none;
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}

.slick {
  width: 100%;
}

.slick > div {
  margin: 0 15px;
}

.menu--main {
  margin-left: auto;

  li {
    a {
      color: $black;
    }
    &:hover {
      text-decoration: underline;
      @include opacity(.8);
    }
  }
}

.navbar-brand {

  color: $black;

  img {
    width: 4rem;
  }

  span {
    margin-left: 1rem;
  }

  &:hover {
    @include opacity(.8);
    color: $black;
  }

}

.path-frontpage {
  .menu--main {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand {
    img {
      width: 11rem;
      margin-top: 1rem;
    }
  }

  .node {
    &--type-peliculas {
      .node-readmore {
        display: none;
      }
    }
  }
}

.region-top-header {
  margin: 0 auto;
}

.cover-pelicula {

  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    object-fit: cover;
  }
}

.title__pelicula {
  a {
    font-size: 1rem;
    color: $black;

    &:hover, &:focus {
      color: $black;
      @include opacity(.8);
    }
  }
}

header {
  .navbar-dark {
    .navbar-nav {
      .nav-link {
        color: $gray-100;
      }
    }
  }
}

.node {
  &--view-mode-teaser {
    border: none;
  }
}

.tagcloud ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    width: 150px;
    margin: 0 10px 10px 0;
    padding: 0;

    a {
      display: block;
      width: 100%;
      height: 32px;
      line-height: 32px;
      padding: 0 1em;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #333;
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      &:hover {
        background-color: #3498db;
        border: 1px solid #3498db;
        color: $white;
      }
    }
  }
}

.featured-bottom {
  &--container{
    .region{
      .container{
        width: 100%;
        max-width: 100%;
        padding: 0;

        @media (min-width: map-get($grid-breakpoints, 'xl')) { }
      }
    }
  }
}

.node__pelicula_background{
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    background: $black;
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transform: rotate(-39deg);
  }

  &:before{
    content: '';
    background: $red;
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transform: rotate(-39deg);
  }
}

